
<div class="container">
    <h1>Login (as Super)</h1>
  <div class="row">
    <div class = "loginForm">
      <form>
      
          <input class="form-control" type="text" [(ngModel)]="username" name="username" placeholder="username"><br><br>
    
          <input class="form-control" type="password" [(ngModel)]="password" name="password" placeholder="password"><br><br>
          <button class="btn btn-success" (click) = "nav()">Submit</button>
      
    
      </form>
    </div>
      
  </div>
</div>
